
.col-flex {
    display: flex;
    flex-direction: column;
}
.rev-row-flex {
    display: flex;
    flex-direction: row-reverse;
}
.row-flex {
    display: flex;
    flex-direction: row;
}
.w-100p {
    width: 100%;
}
.w-70p {
    width: 70%;
}
.w-auto {
    width: auto;
}
.self-center {
    align-self: center;
    justify-self: center;
}
.center-items {
    align-items: center;
    justify-content: center;
}
.bg-test {
    background-color: red;
}
.txt-center {
    text-align: center;
}
.no-pad {
    padding: 0px;
}
.m-top-1rem {
    margin-top: 1rem;
}
