
.header-contain {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header-contain p {
    font-size: 2rem;
    margin-left: 2rem;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Ubuntu';
    gap: 1rem;
    user-select: none;
}
.nav-bar a {
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color-text-1);
    text-decoration: none;
    transition: 0.1s linear transform;
}
.nav-bar a:hover {
    text-decoration: underline;
    transform: scale(0.9);
}

.footer-contain {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    background-color: var(--color-bg-dark);
    color: white;
}
.footer-contain p {
    font-family: 'Ubuntu';
    width: 100%;
    text-align: center;
}
